@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,300&display=swap");
.section {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(0, 110, 255, 0),
      rgba(252, 252, 252, 0.61)
    ),
    url("../public/wave-background.svg");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  .uiTextBlock {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    min-width: 100%;
    font-size: 24px;
    color: white;

    .textSection {
      margin-top: 2.5%;
      max-height: 100%;
    }

    .btnCustom {
      background-color: rgb(38, 38, 201);
      padding: 15px;
      max-width: 100%;
      text-decoration: none;
      color: white;
      height: 50px;
      border-radius: 5px;
      &:hover {
        background-color: rgba(38, 38, 201, 0.788);
      }
    }
  }
  ul {
    display: flex;
  }

  li:nth-last-child(2) {
    height: 40vh;
    flex-grow: 1;
  }
  li:nth-last-child(1) {
    height: 63vh;
    flex-grow: 1;
  }
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    -webkit-box-shadow: -3px 8px 8px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: -3px 8px 8px -5px rgba(66, 68, 90, 1);
    box-shadow: -3px 8px 8px -5px rgba(66, 68, 90, 1);
  }
}
