@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,300&display=swap");
.section {
  font-family: "Josefin Sans", sans-serif;
  height: 580px;
  background-image: linear-gradient(
      to right,
      rgba(0, 110, 255, 0),
      rgba(252, 252, 252, 0.61)
    ),
    url("../public/wave-background.svg");
  background-repeat: no-repeat;
  padding: 20px;

  .styledColumn {
    width: 490px;
    margin-left: 300px;
    margin-top: 50px;
    .uiTextBlock {
      font-size: 24px;
      color: white;

      .btnCustom {
        width: 250px;
        background-color: rgb(38, 38, 201);
        padding: 15px;
        text-decoration: none;
        color: white;
        height: 50px;
        border-radius: 5px;
        &:hover {
          color: rgba(255, 255, 255, 0.884);
        }
      }
    }
  }
  .picturesContainer {
    width: 650px;
    margin-left: auto;
    margin-right: 90px;
    transform: translateY(-250px);

    .rotateImage {
      transform: rotate(0deg);
      margin-left: 105px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 15px;
    }
    .depositImage {
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      width: 250px;
      height: 500px;
      transform: translateY(-428px) translateX(-130px);
      border-radius: 15px;
    }
    .depositThoastImage {
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      width: 250px;
      height: 60px;
      transform: translateY(-532px) translateX(480px);
    }
  }
}
