.section {
  font-family: "Josefin Sans", sans-serif;
  height: 300px;
  background-image: radial-gradient(
    circle,
    #4993f6,
    #2382fc,
    #0070ff,
    #005cff,
    #0043ff
  );
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      padding: 55px;
      color: white;
    }
    .btnCustom {
      text-align: center;
      text-decoration: none;
      height: 50px;
      border-radius: 5px;
      width: 320px;
      padding: 15px;

      color: rgb(255, 255, 255);
      background-color: rgb(38, 38, 201);
      &:hover {
        background-color: rgba(38, 38, 201, 0.788);
      }
    }
  }
}
