.container {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(23, 43, 77);
  color: white;
  .elements {
    display: flex;
    margin-left: 2%;
    justify-content: center;
    .titleAndLogin {
      padding: 15px;
      margin-top: 1.7%;
      color: white;
      margin-right: 2%;
      text-decoration: none;
    }
    .login {
      color: white;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }

    .footerDescription {
      padding: 15px;
      margin-top: 2%;
      color: white;
      text-decoration: none;
      width: 250px;

      &:hover {
        height: 92px;
        background-color: rgba(248, 248, 248, 0.205);
      }
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .sectionLine {
    width: 98%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.199);
    margin-bottom: 1%;
  }
  .textSection {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 50px;

    ul {
      display: flex;
      gap: 15px;
      flex-direction: row;
      list-style: none;
      font-size: 12px;

      li:hover:not(:last-child) {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .mediaIconSection {
      display: flex;
      gap: 15px;
      margin-left: 100%;
      .icon {
        display: flex;
        font-size: 26px;
        cursor: pointer;

        &:hover {
          color: rgba(255, 255, 255, 0.651);
        }
      }
    }
  }
}
@media screen and (max-width: 1152px) {
  .container {
    .textSection {
      .mediaIconSection {
        margin-left: 19%;
      }
    }
  }
}
@media screen and (max-width: 518px) {
  .container {
    .elements {
      flex-direction: column;
      .titleAndLogin {
        padding: 15px;
        margin-top: 1.7%;
        color: white;
        margin-right: 2%;
        text-decoration: none;
      }
      .login {
        color: white;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }

      .footerDescription {
        padding: 15px;
        margin-top: 2%;
        color: white;
        text-decoration: none;
        width: 250px;

        &:hover {
          height: 92px;
          background-color: rgba(248, 248, 248, 0.205);
        }
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .sectionLine {
      width: 98%;
      margin: 0 auto;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.199);
      margin-bottom: 1%;
    }
    .textSection {
      display: flex;
      max-width: 100%;
      align-items: start;
      justify-content: start;
      flex: 1;
      gap: 50px;

      ul {
        display: flex;
        gap: 15px;
        flex-direction: column;

        list-style: none;
        font-size: 12px;

        li:hover:not(:last-child) {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .mediaIconSection {
        display: flex;

        gap: 15px;
        margin-left: 0%;
        .icon {
          display: flex;
          font-size: 26px;
          cursor: pointer;

          &:hover {
            color: rgba(255, 255, 255, 0.651);
          }
        }
      }
    }
  }
}
