.wrapper {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 15px;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 60%;

    .column {
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      max-width: 50%;

      .imgContainer {
        display: flex;
        margin-left: 5%;
        max-width: 20%;
      }
      h3 {
        padding: 15px;
      }
      p {
        font-size: 19px;
        margin-left: 4%;
        width: 100%;
      }
      .searchColumn {
        background-color: rgba(53, 50, 50, 0.048);
        height: 400px;
      }
      .settingsColumn {
        background-color: rgba(53, 50, 50, 0.048);
        height: 400px;
      }
      .walletColumn {
        background-color: rgba(53, 50, 50, 0.048);
        height: 400px;
      }
    }
  }
}
