@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,300&family=Plus+Jakarta+Sans:wght@300&display=swap");
:root {
  --max-width-100: 100%;
}
html {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
