.section {
  font-family: "Josefin Sans", sans-serif;
  height: 700px;
  background-image: linear-gradient(
    to top,
    #0066ff,
    #136bfd,
    #2170fb,
    #2b74f9,
    #3579f6
  );

  h1 {
    font-size: 48px;
  }
  h1,
  p {
    margin: 0 auto;
    transform: translateY(65px);
    color: white;
    width: 860px;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  .btnCustom {
    display: flex;
    justify-content: center;
    color: black;
    width: 250px;
    margin: 0 auto;
    background-color: rgba(247, 247, 247, 0.87);
    padding: 15px;
    transform: translateY(90px);
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
  }
}
