.sectionGroup {
  font-family: "Josefin Sans", sans-serif;
  max-height: 100%;
  padding: 25px;
  .container {
    margin-left: 100px;
    max-width: 100%;

    h1 {
      min-width: 100%;
    }
  }
  .descriptionContainerGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .desciprtionContainerOne,
    .desciprtionContainerTwo,
    .desciprtionContainerThree,
    .desciprtionContainerFour,
    .desciprtionContainerFive {
      width: 50%;
      border-top: 40px solid royalblue;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      margin-top: 1.5%;
    }
    .desciprtionContainerOne {
      height: var(--heightOfDescriptionContainers);
      box-shadow: rgba(5, 76, 168, 0.747) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      &:hover {
        box-shadow: rgb(5, 76, 168) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
    }
    .desciprtionContainerTwo {
      border-top: 40px solid rgba(0, 128, 0, 0.685);
      box-shadow: rgba(32, 168, 5, 0.747) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      &:hover {
        box-shadow: rgba(32, 168, 5, 0.979) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
    }

    .desciprtionContainerThree {
      border-top: 40px solid rgba(255, 0, 0, 0.719);
      box-shadow: rgba(179, 7, 7, 0.582) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      &:hover {
        box-shadow: rgb(179, 7, 7) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
    }

    .desciprtionContainerFour {
      border-top: 40px solid rgba(255, 217, 0, 0.781);
      box-shadow: rgba(214, 193, 5, 0.575) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      &:hover {
        box-shadow: rgb(214, 193, 5) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
    }

    .desciprtionContainerFive {
      border-top: 40px solid rgba(0, 0, 0, 0.808);

      box-shadow: rgba(2, 2, 2, 0.534) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      &:hover {
        box-shadow: rgb(2, 2, 2) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
    }
    .dollarIconContainer,
    .chartIconContainer,
    .noteIconContainer,
    .brainIconContainer,
    .wifiOfflineIconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 60px;
      height: 60px;
      margin-left: 14px;
      transform: translateY(-20px);
      border-radius: 25px;

      .dollarIcon {
        color: rgba(5, 76, 168, 0.747);
        font-size: 48px;
      }
      .chartIcon {
        color: rgba(24, 168, 5, 0.747);
        font-size: 48px;
      }
      .noteIcon {
        color: rgba(255, 0, 0, 0.719);
        font-size: 48px;
      }
      .brainIcon {
        color: rgba(255, 217, 0, 0.781);
        font-size: 48px;
      }
      .wifiOfflineIcon {
        color: rgba(0, 0, 0, 0.808);
        font-size: 48px;
      }
    }
    .description {
      margin-left: 24px;
      transform: translateY(-15px);
    }
  }
}

@media screen and (max-width: 370px) {
  .sectionGroup {
    font-family: "Josefin Sans", sans-serif;
    height: 1600px;
    .container {
      max-width: 100%;
    }
    .descriptionContainerGroup {
      display: flex;
      flex-direction: column;
      transform: translateY(90px);
      .desciprtionContainerOne,
      .desciprtionContainerTwo,
      .desciprtionContainerThree,
      .desciprtionContainerFour,
      .desciprtionContainerFive {
        width: 80%;
        height: 250px;
        border-top: 40px solid royalblue;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        margin-top: 25px;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .sectionGroup {
    font-family: "Josefin Sans", sans-serif;
    height: 1720px;
    .container {
      max-width: 100%;
    }
    .descriptionContainerGroup {
      display: flex;
      flex-direction: column;
      transform: translateY(90px);
      .desciprtionContainerOne,
      .desciprtionContainerTwo,
      .desciprtionContainerThree,
      .desciprtionContainerFour,
      .desciprtionContainerFive {
        width: 80%;
        height: 275px;
        border-top: 40px solid royalblue;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        margin-top: 25px;
      }
      .desciprtionContainerOne {
        box-shadow: rgba(5, 76, 168, 0.747) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        &:hover {
          height: 300px;
          box-shadow: rgb(5, 76, 168) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
      }
      .desciprtionContainerTwo {
        border-top: 40px solid rgba(0, 128, 0, 0.685);
        box-shadow: rgba(32, 168, 5, 0.747) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        &:hover {
          box-shadow: rgba(32, 168, 5, 0.979) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
      }

      .desciprtionContainerThree {
        border-top: 40px solid rgba(255, 0, 0, 0.719);
        box-shadow: rgba(179, 7, 7, 0.582) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        &:hover {
          box-shadow: rgb(179, 7, 7) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
      }

      .desciprtionContainerFour {
        border-top: 40px solid rgba(255, 217, 0, 0.781);
        box-shadow: rgba(214, 193, 5, 0.575) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        &:hover {
          box-shadow: rgb(214, 193, 5) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
      }

      .desciprtionContainerFive {
        border-top: 40px solid rgba(0, 0, 0, 0.808);

        box-shadow: rgba(2, 2, 2, 0.534) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        &:hover {
          box-shadow: rgb(2, 2, 2) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
      }
      .dollarIconContainer,
      .chartIconContainer,
      .noteIconContainer,
      .brainIconContainer,
      .wifiOfflineIconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 60px;
        height: 60px;
        margin-left: 14px;
        transform: translateY(-20px);
        border-radius: 25px;

        .dollarIcon {
          color: rgba(5, 76, 168, 0.747);
          font-size: 48px;
        }
        .chartIcon {
          color: rgba(24, 168, 5, 0.747);
          font-size: 48px;
        }
        .noteIcon {
          color: rgba(255, 0, 0, 0.719);
          font-size: 48px;
        }
        .brainIcon {
          color: rgba(255, 217, 0, 0.781);
          font-size: 48px;
        }
        .wifiOfflineIcon {
          color: rgba(0, 0, 0, 0.808);
          font-size: 48px;
        }
      }
      .description {
        margin-left: 24px;
        transform: translateY(-15px);
      }
    }
  }
}
